body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  background: linear-gradient(90deg, #1C2331 5.76%, #5639A3 94.27%);
}

/* .results .matches-list {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.results .matches-list .participate-team{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      text-align: right;
      position: relative;
      z-index: 1;
}

.results .matches-list .participate-team:before, .results .matches-list .participate-team:after {
          background: #f90cff;
          background: linear-gradient(to right bottom, #f90cff, #e027ff, #c534ff, #8a44ff, #6560ff, #3c73ff, #0081ff, #00b3ff, #00c6f5, #0cd7e8);
          clip-path: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          width: 90%;
          height: 6.875rem;
          transform: translateY(-50%);
          opacity: 0.3;
          border-radius: 0.3125rem;
          z-index: -1;
}

.results .matches-list .participate-team:after {
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 0.25rem 0.25rem;
}

.results .matches-list .participate-team h3 {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0.3125rem 3.125rem 0 0;
}


.results .matches-list .participate-team h3 span {
  display: block;
  font-size: 1.75rem;
}

.results .matches-list .oponent {
  text-align: left;
}

.results .matches-list .oponent h3{
  margin: 0.3125rem 0 0 3.125rem;
}

.results .matches-list .oponent:after,  .results .matches-list .oponent:before{
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  right: auto;
  left: 0;
} */

.list-group-item.active {
  z-index: 2;
  color: #0d6efd;
  background-color: transparent;
  border-color: rgba(0,0,0,.125);
  border-left: 5px solid #0d6efd;
}

.chatroom .card {
  background: #fff;
  transition: .5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.people-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  height: 500px;
  overflow-y: auto;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer
}

.people-list .chat-list li.active {
  background: #efefef
}

.people-list .chat-list li .name {
  font-size: 15px
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.people-list img {
  float: left;
  border-radius: 50%
}

.people-list .about {
  float: left;
  padding-left: 8px
}

.people-list .status {
  color: #999;
  font-size: 13px
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
  height: 400px;
  overflow-y: auto;
}

.chat .chat-history ul {
  padding: 0
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat .chat-history .message-data {
  margin-bottom: 15px
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

.chat .chat-history .message p{
  margin-bottom: 0;
}
.chat .chat-history .message span{
  font-size: 12px;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .other-message {
  background: #efefef
}

.chat .chat-history .other-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .my-message {
  background: #e8f1f3;
  text-align: right
}

.chat .chat-history .my-message:after {
  border-bottom-color: #e8f1f3;
  left: 80%;
}

.chat-message {
  position: relative;
}

/* .chat .chat-history .master {
  background: red;
}

.chat .chat-history .bot {
  background: green;
} */

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

.input-group-text {
  padding: 0.75rem 0.75rem;
  cursor: pointer;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}


.typing {
  text-align: right;
  font-size: 1rem;
  line-height: 1.25rem;
  position: absolute;
  bottom: 50px;
  /* right: 50%; */
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.typing .tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
          animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 50%;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.3125rem;
  background-color: #44444450;
}

.typing .tidot:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.typing .tidot:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.typing .tidot:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  28% {
    -webkit-transform: translateY(-0.3125rem);
            transform: translateY(-0.3125rem);
  }
  44% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.notyf-item {
  min-width: 400px;
  border-bottom: 1px solid gray;
  padding: 4px 0;
}

.notyf-item a span{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid gray;
}

.notyf-item a span img{
  width: 20px;
  height: 20px;
}

.notyf-item .subject{
  align-self: flex-start;
}

.notyf-item .subject p, h6{
  margin: 0;
  margin-left: 10px;
}

.notyf-item .subject h6{
  font-size: 16px;
}

.notyf-item .subject p{
  font-size: 14px;
}

.dropdown-menu.show{
  max-height: 90vh;
  overflow-y: scroll;
}