@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1532px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 24px;
  }
}

body {
  margin: 0;
  font-family: 'Oxanium', 'cursive';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: #000000;
}

a:hover{
  color: #000000;
}

/* ::-webkit-scrollbar {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background: #60f;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #60f;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #60f;
} */

/* @media (min-width: 1300px) {
  .container {
    max-width: 110rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) and (max-width: 1299.98px) {
  .container {
    max-width: 960px;
  }
} */

.header{
  background: #001529;
}

.list-group-item.active {
  z-index: 2;
  color: #0d6efd;
  background-color: transparent;
  border-color: rgba(0,0,0,.125);
  border-left: 5px solid #0d6efd;
}

.chatroom .card {
  background: #fff;
  transition: .5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.people-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  height: 500px;
  overflow-y: auto;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer
}

.people-list .chat-list li.active {
  background: #efefef
}

.people-list .chat-list li .name {
  font-size: 15px
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.people-list img {
  float: left;
  border-radius: 50%
}

.people-list .about {
  float: left;
  padding-left: 8px
}

.people-list .status {
  color: #999;
  font-size: 13px
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
  height: 400px;
  overflow-y: auto;
}

.chat .chat-history ul {
  padding: 0
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat .chat-history .message-data {
  margin-bottom: 15px
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

.chat .chat-history .message p{
  margin-bottom: 0;
}
.chat .chat-history .message span{
  font-size: 12px;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .other-message {
  background: #efefef
}

.chat .chat-history .other-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .my-message {
  background: #e8f1f3;
  text-align: right
}

.chat .chat-history .my-message:after {
  border-bottom-color: #e8f1f3;
  left: 80%;
}

.chat-message {
  position: relative;
}

/* .chat .chat-history .master {
  background: red;
}

.chat .chat-history .bot {
  background: green;
} */

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

.input-group-text {
  padding: 0.75rem 0.75rem;
  cursor: pointer;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}


.typing {
  text-align: right;
  font-size: 1rem;
  line-height: 1.25rem;
  position: absolute;
  bottom: 50px;
  /* right: 50%; */
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.typingInbox {
  bottom: 100px;
  right: 50%;
}

.typing .tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
          animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 50%;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.3125rem;
  background-color: #44444450;
}

.typing .tidot:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.typing .tidot:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.typing .tidot:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  28% {
    -webkit-transform: translateY(-0.3125rem);
            transform: translateY(-0.3125rem);
  }
  44% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.notyf-item {
  min-width: 300px;
  /* border-bottom: 1px solid gray; */
  padding: 4px 10px 4px 0;
  cursor: pointer;
}

.notyf-item a span{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid gray;
}

.notyf-item a span img{
  width: 20px;
  height: 20px;
}

.notyf-item .subject{
  align-self: flex-start;
  width: 80%;
  justify-content: start !important;
  align-items: center !important;
}

.notyf-item .subject p, .notyf-item .subject h6{
  margin: 0;
  margin-left: 10px;
}

.notyf-item .subject h6{
  font-size: 14px;
  font-weight: 600;
}

.notyf-item .subject p{
  font-size: 12px;
  padding-top: 0.25rem;
}

.notyf-item .check{
  color: green;
}

.notyf-item .close{
  color: #f37878;
}

.notyf-item .follow{
  font-size: 0.75rem;
  background-color: #6c757d;
  outline: none;
  box-shadow: 0 4px 9px -4px #000000;
  border-color: #6c757d;
}

.notyf-item::-webkit-scrollbar {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 0.625rem;
}

.notyf-item::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background: white !important;
}

.notyf-item::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: rgb(212, 212, 212) !important;
}

.notyf-item::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(212, 212, 212) !important;
}

.loadmore{
  position: absolute;
  width: 50% !important;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -1rem;
}

.notyf-item .ant-list-item-action{
  margin-inline-start: 10px !important;
}

.notyf-item .ant-list-item-action li{
 padding: 0 !important;
}

 .unread{
  background-color: #e5e6e9;
}

.popup{
  cursor: pointer;
}

.popup i{
  font-size: 1.125rem;
  color: rgb(196, 196, 196) !important;
}

.scrollable{
  height: 400px;
  overflow: auto;
}

.dropdown-menu.show{
  max-height: 90vh;
  overflow-y: scroll;
  z-index: 9999;
}

.walletFont p{
  font-size: 16px;
}

.masterNav {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

.inbox {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.inbox .inbox-wapper{
  width: 100% !important;
}

.inbox .card-body{
  overflow-y: scroll;
}

.cursor-pointer{
  cursor: pointer;
}

.avatarUser{
  width: 45px;
  height: 45px;
}

.avatarUser img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myMessage{
  justify-content: flex-end;
}

.otherMessage{
  justify-content: flex-start;
}

.myMessage .color{
  background-color: #6c757d;
  color: #ffffff;
}

.otherMessage .color{
  background-color: #f5f6f7;
  color: #000000;
}

.inboxTop{
  background-color: #e5e6e9;
}

.inboxTop a{
 font-weight: bold !important;
}

.inboxBelow{
  min-width: 400px;
}

.inboxBelow a{
  text-decoration: none !important;
  color: #000000;
}

.badge-success{
  background-color: #4aae70;
}

.badge-warning {
  background-color: #df9c17;
}

.badge-primary {
  background-color: #8cb4ff;
}

.badge-danger {
  background-color: #db1435;
}

.react-datepicker__input-container input{
  width: 100%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.masterNav .list-group-item{
  font-size: 14px;
}

.masterNav span, .masterNav a{
  font-size: 16px;
}

.list-group-item.active a{
  color: #0d6efd !important;
}

.master{
  background: linear-gradient(90deg, #1C2331 5.76%, #90266f 94.27%);
}

.admin{
  background: linear-gradient(90deg, #1C2331 5.76%, #3c1411 94.27%);
}

.draft .tab-content {
  width: 50%;
}

.file-upload {
  background-color: white;
  border: 1px dashed gray !important;
  min-height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  cursor: pointer;
}

.file-upload-blank{
  color: black;
}

.file-uploaded:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.56;
}

.file-upload .file-upload-message{
  position: relative;
  z-index: 2;
}

.popCard .ant-card-meta-title{
  margin-bottom: 0px !important;
}
.popCard .ant-card-body{
  padding: 10px;
}
.popBody .ant-card-body{
  padding: 10px;
}

/* .overlayThumb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
}*/

.demo-loadmore-list {
  min-height: 350px;
}

.sticky-top {
  z-index: 10 !important;
}

.ant-tour{
  width: 300px;
}


.navbar {
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 999;
}

.nav-header {
  border-bottom: 0;
}

.logo {
  width: 200px;
  float: left;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.navbar-menu {
  width: calc(100% - 200px);
  float: left;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar .ant-menu{
  background: rgba(0, 0, 0, 0);
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  float: left;
}

.navbar-menu .leftMenu ul{
  color: white;
  background: rgba(0, 0, 0, 0);
}

.navbar-menu .rightMenu ul li{
  background: #001529;
}

.navbar-menu .rightMenu ul li:hover{
  background: #001529 !important;
}

.navbar-menu .rightMenu ul li .ant-avatar{
  background: gray;
}

.navbar-menu .leftMenu ul li:hover{
  color: white !important;
}

.navbar-menu .leftMenu ul li.ant-menu-item-selected{
  color: white !important;
}

.navbar-menu .rightMenu {
  float: right;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: rgba(255, 255, 255, 0.85);
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
}

.hero {
  margin-bottom: 3rem;
}

.hero__wrapper {
  margin: 0 auto; 
}

@media (max-width: 575.98px) {
  .hero__wrapper {
    max-width: 100%; 
    padding: 1.5rem;
  }
} 

.hero__wrapper__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

@media (max-width: 575.98px) {
  .hero__wrapper__content {
    flex-direction: column;
  }
}

.hero__wrapper__content__left {
  padding-right: 2rem;  
}

@media (max-width: 575.98px) {
  .hero__wrapper__content__left {
    width: 100%;
    padding-right: 0;  
    padding-bottom: 3rem;
  }
}    

.hero__wrapper__content__left h1{
  font-size: 2rem;
}

.hero__wrapper__content__left .p{
  color: gray;
  font-size: 1.625rem;
  line-height: 2.25rem;
}

.hero__wrapper__content__right {
  display: flex;
  gap: 1.25rem;
}

@media (max-width: 575.98px) {
  .hero__wrapper__content____right {
    flex-direction: column;
    width: 100%;
  }
}   

.hero__card {
  display: flex;
  flex-grow: 0.5;
  flex-shrink: 1;
  height: 25rem;
  min-width: 10rem;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 1.5rem;
  cursor: pointer;    
  transition-property: min-width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 50ms;
}

@media (max-width: 575.98px) {
  .hero__card {
    height: 4rem;
    min-width: 100%;
    border-radius: 1.25rem;
  }
}

.hero__card h2 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  bottom: 6rem;
  transform: rotate(-90deg);
}

.hero__card p {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 575.98px) {
  .hero__card h2 {
    transform: rotate(0deg);
    bottom: auto;
  }
}

.hero__card__thumb {
  width: 100%;
  height: 25rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

@media (max-width: 575.98px) {
  .hero__card__thumb {
    height: 4rem;
    min-width: 100%;
    border-radius: 1.25rem;
  }
}


.hero__card__expand {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  padding: 2rem;
  bottom: 0px;
}

@media (max-width: 575.98px) {
  .hero__card__expand {
    border-radius: 1.25rem;
    padding: 0 2rem 0 2rem;
    height: 100%;
    justify-content: center;
  }
} 

.hero__card__expand__icon {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.hero__card__expand__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.active {
  flex-grow: 3.5;
  min-width: 22.5rem;
}

@media (max-width: 575.98px) {
  .active {
    height: 15rem;
    min-width: 100%;
  }
}

.active h2{
  transform: rotate(0deg);
  position: relative;
  bottom: auto;
}

@media (max-width: 575.98px) {
  .active .hero__card__thumb {
    height: 100%;
    min-width: 100%;
  }
}